!= form :action => url(:openid) do
  -# optional hidden value used in requesting unprotected OpenID login page scenario -->
  != hidden_field :name => 'postLoginTargetURI', :value => url(:openid)

  %fieldset
    %legend= title
    %div!= text_field :id => 'openid_url', :name => 'openid_url'
    %div!= submit button_text
